.button {
    max-width: 600px;
    background-color: var(--yellow);
    border: 0;
    padding: 16px;
    color: var(--main);
    border-radius: 0.5rem;
    transition: filter 0.2s;

    &[disabled] {
        cursor: not-allowed;
        svg {
            animation:animate 2s infinite;
        }
    }

    &:hover {
        filter: brightness(1.35);
    }
}

.buttonText {
    color: var(--main);
    font-weight: bold;
}

@keyframes animate {
    from {
        transform:rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}