.input {
    margin-bottom: 1rem;
    max-width: 120px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--second);
    padding: 10px;
    border: 2px solid var(--main);
    margin: 10px;
}

.input::placeholder {
    color: var(--second);
}