.container {
    display: flex;
    flex-direction: column;
    color: var(--yellow);

    h2 {
        margin-top: 20px;
    }

    p {
        color: var(--white);
        margin: 5px 0;
        font-weight: 700;
    }
}