.containerCenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  img {
    width: auto;
    height: auto;
    max-height: 300px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--white);
    margin: 20px;
  }
  
  & > div {
    background-color: var(--second);
    border: 2px solid;
    border-radius: 5px;
    color: var(--white);
  }
  
  .buttonsContainer {
    border: 0;
    background-color: transparent;
  }
  
  button {
    margin: 20px;
  }
}

.sides {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 100px;
}

.verticalContainer {
  display: flex;
  flex-direction: row;
}
